<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- css -->
    <link rel="stylesheet" href="./style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
      <div class="container-fluid p-0 wrapper ">
          <div class="row">
              <div class="col-md-9">
              </div>
              <div class="col-md-3">
                  <div class="img">
                      <img src="./img/air.png" alt="">
                  </div>
                  <div class="img">
                      <img src="./img/earth.png" alt="">
                  </div>
                  <div class="img">
                      <img src="./img/fire.png" alt="">
                  </div>
                  <div class="img">
                      <img src="./img/water.png" alt="">
                  </div>
              </div>
          </div>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>